accelerate==1.0.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
anndata==0.10.9
annotated-types==0.7.0
array_api_compat==1.8
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.12.3
betterproto==2.0.0b6
black==24.10.0
Brotli
certifi
cffi==1.17.1
charset-normalizer
click==8.1.7
comm==0.2.2
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
Cython==3.0.11
datasets==3.0.1
debugpy==1.8.6
decorator==5.1.1
dill==0.3.8
dm-tree==0.1.8
dnspython==2.7.0
einops==0.8.0
email_validator==2.2.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.1.0
fastmoe==1.1.0
filelock 
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.1
fvcore==0.1.5.post20221221
gdown==5.2.0
gmpy2
grpclib==0.4.7
h2==4.2.0
h5py==3.12.1
hpack==4.1.0
huggingface-hub==0.26.0
hyperframe==6.1.0
id==1.5.0
idna
importlib-resources==5.13.0
in-toto-attestation==0.9.3
iopath==0.1.10
ipykernel==6.29.5
ipython==8.28.0
jedi==0.19.1
Jinja2
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kagglehub==0.3.7
kiwisolver==1.4.7
legacy-api-wrap==1.4
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft
mkl_random
model-signing==0.2.0
mpmath
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx
nibabel==5.2.1
numba==0.60.0
numpy==1.26.4
openpyxl
packaging==24.1
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
pillow
platformdirs==4.3.6
portalocker==2.10.1
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.29.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
PyJWT==2.10.1
pynndescent==0.5.13
pyOpenSSL==25.0.0
pyparsing==3.1.4
PySocks
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
regex==2024.9.11
requests
rfc3161-client==0.1.2
rfc8785==0.1.4
rich==13.9.4
safetensors==0.4.5
scanpy==1.10.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
securesystemslib==1.2.0
sentencepiece==0.2.0
session_info==1.0.0
sigstore==3.6.1
sigstore-protobuf-specs==0.3.2
sigstore-rekor-types==0.0.18
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
statsmodels==0.14.3
stdlib-list==0.10.0
sympy
tabulate==0.9.0
termcolor==2.4.0
threadpoolctl==3.5.0
tokenize_rt==6.1.0
tokenizers==0.21.0
tomli==2.2.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.48.2
triton==2.0.0
tuf==5.1.0
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.6
urllib3
wcwidth==0.2.13
xxhash==3.5.0
yacs==0.1.8
yarl==1.15.5
